@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@font-face {
    font-family: CaviarDreams;
    font-weight: 400;
    src: url(./fonts/CaviarDreams.ttf);
}
body{
    font-family: CaviarDreams;
}

.top {
    background-color: #FAE7DA;
}
li{
    list-style: none;
    display: inline;
}
li:hover{
    color:#34543C;
    cursor:pointer
}
.list-nav{
    text-align: center;
}
.cote-mama{
    font-weight: 800;
}
.creme_mamme{
    background-color: #FAE7DA;
}